@model App.ViewModels.Brand.Create.Brand
@{
    Layout ="Layout";
    var brand = Model;
}

<div class="container">
    <div class="row">
        <div class="col">
            <form method="post" asp-action="Create" asp-route-ref="@(System.Net.WebUtility.UrlEncode(ViewData["ref"].ToString()))">
                <div class="row">
                    <div class="mb-3 col-md-6 col-lg-4">
                        <label class="form-label" for="brand_name">Name</label>
                        <input id="brand_name" name="Name" class="form-control form-control-sm" asp-for="@brand.Name" required maxlength="50" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="col-12">
                        <a class="btn btn-sm btn-secondary" href="@ViewData["ref"]">Cancel</a>
                        <button class="btn btn-sm btn-primary">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    initPage(true)
</script>